PROM_IMAGE=prom/prometheus:latest
GRAFANA_IMAGE=grafana/grafana:latest
ALERT_IMAGE=prom/alertmanager:latest
NODE_EXPORTER_IMAGE=prom/node-exporter:latest
CADVISOR_IMAGE=gcr.io/cadvisor/cadvisor:latest
BLACKBOX_IMAGE=prom/blackbox-exporter:latest

PROM_PORT=9090
GRAFANA_PORT=3000
ALERT_PORT=9093
BLACKBOX_PORT=9115

GRAFANA_USER=admin
# Change this before deploying
GRAFANA_PASS=changeme

PROXY_NETWORK=proxy_net
