POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server:2024.12.2

PG_DB=authentik
PG_USER=authentik
# Change this before deploying
PG_PASS=changeme

# Generate with: openssl rand -base64 36
AUTHENTIK_SECRET_KEY=changeme-generate-with-openssl-rand-base64-36

PORT=9100
PROXY_NETWORK=proxy_net
