PIHOLE_IMAGE=pihole/pihole:latest
UNBOUND_IMAGE=mvance/unbound:latest

PIHOLE_CONTAINER=pihole
UNBOUND_CONTAINER=unbound

# mvance/unbound listens on port 5335 by default — do not change unless using a custom config
UNBOUND_PORT=5335

HTTP_PORT=8080
DNS_PORT=53

TIMEZONE=Asia/Kolkata
# Change this before deploying
WEBPASSWORD=changeme

NETWORK=dns_net
